<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <div class="overlay"></div>
        <nav>
            <div class="logo">
                <p>SMART RELOCATION SYSTEM</p>
            </div>
            <ul class="auth-links">
                <li>
                    <a href="#">Login</a>
                    <ul class="login-dropdown">
                        <li class="nested-nav-links"><a href="/app/client/login">Client Login</a></li>
                        <li class="nested-nav-links"><a href="/app/mover/login">Mover Login</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">SignUp</a>
                    <ul class="sign-up-dropdown">
                        <li class="nested-nav-links"><a href="/app/client/signup">Client SignUp</a></li>
                        <li class="nested-nav-links"><a href="/app/mover/signup">Mover SignUp</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section class="hero-section">
            <h2>SMART RELOCATION SYSTEM</h2>
            <h1>MOVING MADE <span>EASY</span> FOR YOUR FAMILY </h1>
            <p>Sign Up for a <span>free</span> account to discover the best relocation service providers near you</p>
        </section>
    </header>
    <section class="content about-us">
        <h2>About</h2>
        <hr class="line">
        <div class="row">
            <div class="col-1 cols">
                <div class="image-container">
                    <img src="/images/about-us.jpeg" alt="About Us">
                </div>
            </div>
            <div class="col-2 cols">
                <p class="text-content">
                    Smart Relocation System is a platform that connects clients with relocation service providers. 
                    We provide a seamless experience for clients to find the best relocation service providers in their location. 
                    Our platform is designed to make moving easy for your family.
                </p>
            </div>
        </div>
    </section>
    <section class="content companies">
        <div class="company-box">
            <img src="/images/company-1.png" alt="Company-logo">
        </div>
        <div class="company-box">
            <img src="/images/company-3.png" alt="Company-logo">
        </div>
        <div class="company-box">
            <img src="/images/company-4.png" alt="Company-logo">
        </div>
        <div class="company-box">
            <img src="/images/company-5.png" alt="Company-logo">
        </div>
    </section>

    <section class="content services">
        <div class="services-container">
            <h3>SERVICES</h3>
            <hr class="line">
            <h2>Our Solutions To All Your Problems</h2>
            <p>
                We've got differenct Movers, to suit all your relocation needs. 
                From Long distance relocation, to International relocation, we've got a mover for you.
            </p>
        </div>
        <div class="services-offered-container">
            <div class="service-box">
                <img src="/images/long-distancejpeg.jpeg" alt="Long Distance">
                <h4>Long Distance Relocation</h4>
                <p>Our movers are available to help you move to any location within the country</p>
            </div>
            <div class="service-box">
                <img src="/images/internaltional.jpg" alt="International">
                <h4>International Relocation</h4>
                <p>Our movers are available to help you move to any location outside the country</p>
            </div>
            <div class="service-box">
                <img src="/images/short-distance.jpg" alt="Local">
                <h4>Local Relocation</h4>
                <p>Our movers are available to help you move to any location within the city</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>SMART RELOCATION SYSTEM</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>